@model ProductVM
@{
    ViewData["Title"] = "Upsert";
}
<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="divBackGroundImage">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if(Model.Product.Id != 0)
        {
            //Edit : 
            <input type="hidden" asp-for="Product.Id"/>
            <input type="hidden" asp-for="Product.ImageUrl"/>
        }
        <div class="row">
            <div class="col-12">
                <h2 class="text-info">Add Product</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group row pb-1">
                    <div class="col-lg-4 col-12">
                        <label asp-for="Product.Title"></label>
                    </div>
                    <div class="col-lg-8 col-12">
                        <input asp-for="Product.Title" class="form-control" />
                        <span asp-validation-for="Product.Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row pb-1">
                    <div class="col-lg-4 col-12">
                        <label asp-for="Product.ISBN"></label>
                    </div>
                    <div class="col-lg-8 col-12">
                        <input asp-for="Product.ISBN" class="form-control" />
                        <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row pb-1">
                    <div class="col-lg-4 col-12">
                        <label asp-for="Product.Author"></label>
                    </div>
                    <div class="col-lg-8 col-12">
                        <input asp-for="Product.Author" class="form-control" />
                        <span asp-validation-for="Product.Author" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row pb-1">
                    <div class="col-lg-4 col-12">
                        <label asp-for="Product.Description"></label>
                    </div>
                    <div class="col-lg-8 col-12">
                        <input asp-for="Product.Description" class="form-control" />
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row pb-1">
                    <div class="col-lg-4 col-12">
                        <label asp-for="Product.ListPrice"></label>
                    </div>
                    <div class="col-lg-8 col-12">
                        <input asp-for="Product.ListPrice" type="number" class="form-control" />
                        <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row pb-1">
                    <div class="col-lg-4 col-12">
                        <label asp-for="Product.Price"></label>
                    </div>
                    <div class="col-lg-8 col-12">
                        <input asp-for="Product.Price" type="number" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row pb-1">
                    <div class="col-lg-4 col-12">
                        <label asp-for="Product.Price50"></label>
                    </div>
                    <div class="col-lg-8 col-12">
                        <input asp-for="Product.Price50" type="number" class="form-control" />
                        <span asp-validation-for="Product.Price50" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row pb-1">
                    <div class="col-lg-4 col-12">
                        <label asp-for="Product.Price100"></label>
                    </div>
                    <div class="col-lg-8 col-12">
                        <input asp-for="Product.Price100" type="number" class="form-control" />
                        <span asp-validation-for="Product.Price100" class="text-danger"></span>
                    </div>
                </div>
         
                <div class="form-group row pb-1">
                    <div class="col-lg-4 col-12">
                        <label asp-for="Product.Category.Name"></label>
                    </div>
                    <div class="col-lg-8 col-12">
                        <select asp-for="Product.CategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))" class="form-control">
                            <option>Please Select Category</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row pb-1">
                    <div class="col-lg-4 col-12">
                        <label asp-for="Product.CoverType.Name"></label>
                    </div>
                    <div class="col-lg-8 col-12">
                        <select asp-for="Product.CoverTypeId" asp-items="@(new SelectList(Model.CoverTypes,"Id","Name"))" class="form-control">
                            <option>Please Select Cover Type</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row pb-1">
                    <div class="col-lg-4 col-12">
                        <label asp-for="Product.ImageUrl"></label>
                    </div>
                    <div class="col-lg-8 col-12">
                        <input type="file" asp-for="Product.File" class="form-control" />
                        <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row pb-1">
                    <div class="col-lg-8 offset-lg-4">
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" asp-action="Upsert" class="btn btn-success form-control">Submit</button>
                            </div>
                            <div class="col-6">
                                <a asp-action="Index" class="btn btn-primary form-control">Back To List </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                @if (Model.Product.ImageUrl != null)
                {

                    <img src="~/Images/@Model.Product.ImageUrl" class="img-thumbnail" style="width:100%;height:300px" />
                }
         
            </div>

        </div>
    </div>
</form>



