
@{
    ViewData["Title"] = "Index";
}


<div class="divBackGroundImage">
    <div class="row pb-4">
        <div class="col-lg-7 d-lg-block d-none">
            <h2 class="text-info">User List</h2>
        </div>
        
    </div>

    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead class="bg-dark text-white">
            <tr>
                <th>Email</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts{

    <script src="~/js/User.js"></script>
}
